/*html *{
	border: solid black;
}*/
#logo{
	display:inline-block;
	height:95px;
	width:300px;
	display:block;
	margin:auto;
	margin-top: 180px;

}

.form{
	height:100px;
}

#search{
	margin:auto;
	height:35px;
	width:450px;
	display:block;
	font-size: 18px;
	border:1px solid lightgrey;
	background:transparent;
	border-radius:1px;
	box-shadow:0px 0px 5px 0px lightgrey;
}

.NavBar{
	list-style-type:none;
	padding:0px 30px 35px 30px;
	
}

.NavBar li{
	display:inline;
	float:right;
	font-size:13px;
	padding:8px 8px;
	font-family:arial, sans-serif;

}



li a{
	text-decoration: none;
	color:black;
	display:inline-block;
	
}

#grid {
	height:25px;
	width:25px;
	position:relative;
	top:-4px;

}

#signin{
	background-color: rgb(66, 133, 244);
	text-align:center;
	width:45px;
	border-radius:2px;

}

#signin a{color:white;

}