/*html *{
	border: solid black;
}*/
#logo{
	display:inline-block;
	height:95px;
	width:300px;
	display:block;
	margin:auto;
	margin-top:185px;

}

.form{
	height:100px;
}

#search{
	margin:auto;
	height:35px;
	width:450px;
	display:block;
	font-size: 18px;
	border:1px solid lightgrey;
	background:transparent;
	border-radius:1px;
	
	-webkit-box-shadow:0px 0px 3px lightgrey;
}

.NavBar{
	list-style-type:none;
	margin:15px 0 0 0;
	padding:0 30px 0 0;

	
}

li{
	display:inline;
	


}

li a{
	text-decoration: none;
	
}